.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.loading {
  width: 88px;
  height: 88px;
  margin: 64px;
}

.loadingText {
  font-weight: bold;
  font-size: 24px;
}

.title {
  font-size: 64px;
  margin-bottom: 20px;
}

.logoutButton {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 12px;
}